:root {
  --gradient-blue: linear-gradient(100deg, #027dfd 26.96%, #92ebfe 109.1%);
  --nextra-banner-height: 4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-poppins), sans-serif;
}

body,
html {
  max-width: 100%;
  overflow-x: hidden;
}

/* Hide the word wrap and copy buttons which are overlaid on pre blocks for small screens */
@media screen and (max-width: 768px) {
  pre + div > button {
    display: none;
  }
}

.banner {
  text-wrap: wrap; /* Safari fallback */
  text-wrap: pretty;
}


pre[class*="nx-bg-primary"],
code[class*="nx-bg-primary"] {
  background-color: #000 !important; /* Ensure black background */
  color: #fff !important;            /* White text */
  border-radius: 8px;                /* Rounded corners */
  padding: 16px;                     /* Padding around the code */
}

pre {
  overflow-x: auto;                  /* Ensure horizontal scroll */
}

pre code {
  background-color: transparent !important; /* Remove nested code block background */
}

/* Additional dark mode specific styling */
@media (prefers-color-scheme: dark) {
  pre[class*="nx-bg-primary"],
  code[class*="nx-bg-primary"] {
    background-color: #1a1a1a !important; /* Darker background in dark mode */
  }
}


